<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="97355aa4-2e3b-49ef-86e2-896c75849b35" Publisher="CN=Diane" Version="0.1.0.2" />
  <Properties>
    <DisplayName>MyDomotique</DisplayName>
    <PublisherDisplayName>Diane</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MyDomotique.App">
      <m2:VisualElements DisplayName="MyDomotique" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="MyDomotique" ForegroundText="dark" BackgroundColor="transparent">
        <m2:DefaultTile ShortName="MyDomotique">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\Splashscreen(2).png" BackgroundColor="#FFFFFF" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>