[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Android et Bluetooth
Type=Link
URL=http://sberfini.developpez.com/tutoriaux/android/bluetooth/
Icon=text-html
